.logo{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}

.container{
    max-width: 955px;
    /* background-color: brown; */
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
}

.message{
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    /* border: 2px solid purple; */
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left{
    background-color: rgb(219 197 255);
    border: 1px solid #cacaca;
    float: left;
    clear: both;
}

.right{
    background-color: rgb(255 207 245);
    border: 1px solid #c6b9c6;
    float: right;
    clear: both;
}

.mid{
    text-align: center;
    position: relative;
    margin: 20px auto;
    clear: both;
    font-size: smaller;

}

#send-container {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
}

#messageInp {
    width: 86%;
    border: 1px solid purple;
    border-radius: 6px;
    height: 34px;
}

.btn {
    cursor: pointer;
    border: 1px solid purple;
    border-radius: 6px;
    height: 34px;
}


body{
    background-image: linear-gradient(rgb(225, 223, 249), rgb(245, 209, 245));
    height: 100vh;
}